.inner-program {
    background-color: #0b0b0b;
    padding-bottom: 10rem;
}

.inner-program-heading-section {
    background-color: #ffffff;
    /* height: 500px; */
    border: 30px solid #389af5;
    display: grid;
    grid-template-columns: 1.5fr 0.8fr;
}

.inner-program-heading-section-div1 {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin-right: 3rem;
}

.inner-program-heading-section-div1-1 {
    justify-content: center;
    align-items: center;
    display: flex;
}

.inner-program-heading-section-div1-img {
    background-color: #04ff69;
    border: 1px solid #000000;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


.inner-program-heading-section-div1-2-h {
    color: #000000;
    margin-top: calc(10%);
}

.inner-program-heading-section-div1-2-p {
    margin-top: 2rem;
    font-size: 16px;
}

.inner-program-heading-section-div1-2-a {
    font-size: 16px;
}

.inner-program-heading-section-div1-2-div {
    margin-top: 7rem;
    font-size: 16px;
    line-height: 2.5rem;
    display: flex;
    flex-direction: row;
    padding-bottom: 5rem;
}

.program-launch-div {
    margin-right: 3rem;
}

.program-type-div {
    margin-right: 3rem;
}

.submit-button {
    margin-left: 5rem;
}

.sub-button {
    font: 16px;
    padding: 15px 20px;
    background-color: #fd006a;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.inner-program-heading-section-div2 {
    border-left: 1px solid #000000;
    font-size: 16px;
    line-height: 2rem;
    padding-left: 2rem;

}

.program-bug-resolved-div {
    margin-bottom: 1.5rem;
    margin-top: 4rem;
}

.program-asset-in-scope-div {
    margin-bottom: 1.5rem;
}

.average-bounty-paid-div {
    margin-bottom: 1.5rem;
}

.time-respond-div {
    margin-bottom: 1.5rem;
}





/* Navbar */

.program-navbar {
    background-color: #2B2B2B;

}

.program-navbar-ul {
    display: flex;

}

.program-navbar-ul-li {
    color: #ffffff;
    font-size: 15px;
    padding: 2rem 3rem;
    cursor: pointer;
}

.selecProgram-navbar {
    color: #04ff69;
    font-size: 15px;
    padding: 2rem 3rem;
    cursor: pointer;
}





/* Program Policy */




.program-policy-div {
    margin-top: 5rem;
}

.program-policy-h {
    background-color: #04ff69;
    text-align: center;
    padding: 1rem;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.program-policy-intro-div {
    width: 85%;
    margin-left: 10rem;
}

.program-policy-intro-div-h {
    color: #04ff69;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin: 5rem 0rem 2rem 0rem;
    text-decoration: underline;
}

.program-policy-intro-div-p1 {
    color: #878787;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;

}



.program-policy-intro-div-p1 ul li {
    list-style: circle;
    margin-left: 2rem;
}

.program-policy-intro-div-p2 {
    color: #878787;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.program-policy-intro-div-p3 {
    color: #878787;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.program-policy-intro-div-p3 ul li {
    list-style: circle;
    margin-left: 3rem;
}



/* Scope and Reward */



.program-sar-div {
    margin-top: 5rem;
}

.program-sar-info-div {
    width: 100%;
}

.program-sar-intro-div-h {
    padding-left: 5rem;
    color: #04ff69;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin: 5rem 0rem 2rem 0rem;
    text-decoration: underline;
}



/* Reward */



.program-reward-div {
    width: 93%;
    margin-left: 5rem;
    background-color: #1d1d1d;
    /* height: 100px; */
    border-radius: 10px;
    text-align: center;
}

.program-reward-level {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 2rem;
}

.reward-low-h,
.reward-low-span {
    color: #ffffff;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.reward-medium-h,
.reward-medium-span {
    color: #CCFF00;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.reward-high-h,
.reward-high-span {
    color: #FF6B00;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.reward-critical-h,
.reward-critical-span {
    color: #FF0000;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}


.program-reward-div-p {
    color: #ffffff;
    margin-top: 3rem;
    font-size: 12px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}



/* Scope  */


.program-scope-div1 {
    width: 93%;
    margin-left: 5rem;
    background-color: #1d1d1d;
    /* height: 100px; */
    border-radius: 10px;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
}

.program-scope-div1-h {
    color: #ffffff;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    padding-top: 2rem;
    padding-left: 2rem;
}

.program-scope-div-table {
    width: 80%;
    margin-left: calc(10%);
    margin-top: 3rem;
    background-color: #2b2b2b;
    border-radius: 10px;

}