.academy-announcement {
    background-color: #0b0b0b;
    padding-bottom: 10rem;
}

.academy-announcement-h {
    padding-top: 8rem;
    text-align: center;
    font-family: "Nunito";
    font-size: 26px;
    line-height: 2.8rem;
    letter-spacing: 2px;
    font-family: "Nunito";
    text-shadow: 0 0 15px #04ff69;
    color: #ffffff;
}

.academy-announcement-h2 {
    padding-top: 8rem;
    text-align: center;
    font-family: "Nunito";
    color: #878787;
    font-size: 20px;
    margin-bottom: 5rem;
}

.academy-announcement-p {
    color: #ffffff;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    width: 75%;
    text-align: justify;
}