.academy-videos {
    background-color: #0b0b0b;
    padding-bottom: 10rem;
}

.academy-videos-section1-h {
    padding-top: 8rem;
    text-align: center;
    font-family: "Nunito";
    font-size: 26px;
    line-height: 2.8rem;
    letter-spacing: 2px;
    font-family: "Nunito";
    text-shadow: 0 0 15px #04ff69;
    color: #ffffff;
}

.academy-videos-div {
    display: block;
    /* padding-top: 10rem; */
}

.academy-videos-vi {
    margin-bottom: 15rem;
    height: 400px;
    width: 50%;
}

.academy-videos-h {
    color: #878787;
    margin: 8rem 0rem 2rem 0rem;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}