.section-nine {
    background-color: #0b0b0b;
}

.section-nine-div {
    width: 100%;
    margin-top: 5rem;
    padding-bottom: 10rem;
    display: grid;
    grid-template-columns: 2rem repeat(4, 1fr) 2rem;
    grid-gap: 20px;
}

.section-nine-div-body {
    grid-column: 2/3;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
    border: 1px solid #4ff069;
    border-radius: '10px';
    padding: '1rem';
}

.div2 {
    grid-column: 3/4;
}

.div3 {
    grid-column: 4/5;
}

.div4 {
    grid-column: 5/6;
}

.section-nine-div-img {
    padding: 2px;
    margin-top: 2rem;
    margin-left: calc(5%);
    border-radius: 5px;
    width: 90%;
    height: 200px;
}

.section-nine-div-p {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2rem;
    margin-top: 3rem;
    height: 4rem;
}

.section-nine-div-button {
    width: fit-content;
    margin-left: calc(25%);
    margin-bottom: 4rem;
}

@media (max-width: 1080px) {
    .section-nine-div {
        display: grid;
        grid-template-columns: 15rem repeat(2, 1fr) 10rem;
        grid-template-rows: repeat(2, auto);
        grid-row-gap: 25px;
        grid-column-gap: 20px;
        grid-column: 2/3;
    }

    .div2 {
        grid-column: 3/4;
    }

    .div3 {
        grid-column: 2/3;
    }

    .div4 {
        grid-column: 3/4;
    }

    .section-nine-div-body {
        width: 90%;
        justify-content: end;
    }

    .section-nine-div2-body {
        width: 90%;
    }

    .section-nine-div-img {
        width: 90%;
        height: 150px;
    }

    .section-nine-div-button {
        margin-left: calc(30%);
    }

    .section-nine-div-p {
        font-size: 12px;
    }
}

@media (max-width: 998px) {
    .section-nine-div-button {
        margin-left: calc(30%);
    }

    .section-nine-div-p {
        width: 90%;
        margin-left: calc(5%);
    }
}

@media (max-width: 798px) {
    .section-nine-div-button {
        margin-left: calc(20%);
        padding: 8px 18px;
    }

    .section-nine-div-p {
        font-size: 10px;
        width: 80%;
        margin-left: calc(10%);
    }
}

@media (max-width: 520px) {
    .section-nine-div {
        display: grid;
        grid-template-columns: 15rem repeat(1, 1fr) 10rem;
        grid-template-rows: repeat(4, auto);
        grid-row-gap: 25px;
        grid-column-gap: 20px;
        grid-column: 2/3;
    }

    .div3 {
        grid-column: 2/3;
    }

    .div4 {
        grid-column: 2/3;
    }

    .section-nine-div-body {
        width: 80%;
        justify-content: end;
    }

    .section-nine-div2-body {
        width: 80%;
        grid-column: 2/3;
    }

    .section-nine-div-img {
        width: 90%;
        height: 100px;
    }


}