.section-seven {
    background-color: #0b0b0b;
    height: auto;
    position: relative;
}

.section-seven-h {
    padding-top: 20rem;
}

.section-seven-hr {
    position: absolute;
    top: 10rem;
    background-color: #4ff069;
    border: none;
    height: 1px;
    width: 80%;
    margin-left: calc(10%);
}

.section-seven-yt {
    margin-top: calc(2%);
    margin-left: calc(30%);
    padding-bottom: calc(5%);
}

/* .iframe {
    box-shadow: 0 0 10px #343232, 0 0 10px #343232, 0 0 10px #343232, 0 0 10px #343232;
} */

.responsive-youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.responsive-youtube-video {
    position: absolute;
    top: 5rem;
    left: calc(20%);
    width: 60%;
    height: 60%;
    box-shadow: 0 0 10px #343232, 0 0 10px #343232, 0 0 10px #343232, 0 0 10px #343232;
}

@media (max-width: 1080px) {
    /* Change */
}

@media (max-width: 998px) {
    .section-seven-yt {
        margin-left: calc(30%);
    }

}

@media (max-width: 798px) {
    .section-seven-yt {
        margin-left: calc(25%);
    }

    .iframe {
        width: "560px";
        height: "315px";
    }
}

@media (max-width: 520px) {
    .section-seven-yt {
        margin-left: calc(20%);
    }

    .iframe {
        width: "480px";
        height: "215px";
    }
}