.section-five {
    background-color: #0b0b0b;
}

.section-five-p {
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    color: #8D8C8C;
    margin: 5rem 10rem;
}

.section-five-img {
    width: 380px;
    /* height: 200px; */
    border-radius: 10px;
    /* border: 2px solid #04ff69; */
    margin: 1rem;
}

@media (max-width: 900px) {
    .div {
        width: 200px;
    }

    .divHeading {
        font-size: 10px;
    }

    .imgStyle {
        width: 100px;
        height: 100px;
    }
}