.whybuggify {
    background-color: #0b0b0b;
    padding-bottom: 10rem;
}

.whybuggify-h {
    color: #ffffff;
    font-size: 26px;
    font-family: "Nunito";
    line-height: 2.8rem;
    letter-spacing: 2px;
    text-shadow: 0 0 15px #04ff69;
    text-align: center;
    padding-top: 5rem;
}

.whybuggify-div {
    width: 80%;
    margin-left: calc(10%);
    margin-top: 5rem;
}

.whybuggify-div-p {
    color: #878787;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}





.whybuggify-button {
    width: fit-content;
}