.whybuggify {
    background-color: #0b0b0b;
    padding-bottom: 10rem;
}

.whybuggify-h {
    color: #ffffff;
    font-size: 26px;
    font-family: "Nunito";
    line-height: 2.8rem;
    letter-spacing: 2px;
    text-shadow: 0 0 15px #04ff69;
    text-align: center;
    padding-top: 5rem;
}

.whybuggify-div {
    width: 90%;
    margin-left: calc(5%);
    margin-top: 7rem;
}

.whybuggify-div-p {
    color: #dfdfdf;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
}


.whybuggify-button {
    width: fit-content;
}



.whybuggify-divs {
    margin-top: 10rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;

}

.d1 {
    margin-top: 15rem;
}

.d3 {
    margin-top: 15rem;
}

.d5 {
    margin-top: 15rem;
}

.d7 {
    margin-top: 15rem;
}

.d1-span {
    color: #ffffff;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    background-color: #003e8b;
    padding: 5rem 5rem;
    border-radius: 50%;
    cursor: pointer;
}

.d1-p {
    color: #ffffff;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin-top: 1rem;
}