.res-profile {
    background-color: #0b0b0b;
    padding-bottom: 15rem;
}

.res-profile-div {
    width: 100%;
}

.res-column-div1 {
    margin-top: 5rem;
    position: relative;
    width: 60%;
    margin-left: calc(25%);
}

.res-profile-label {
    /* text-align: center; */
    color: #878787;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2.8rem;
    margin-left: 5rem;
}

.res-profile-span {
    position: absolute;
    right: 5rem;
    color: #04ff69;
    font-size: 14px;
    background-color: #141414;
    width: 30rem;
    height: 30px;
    padding: 8px 0px 8px 10px;
    border-radius: 8px;
    box-shadow: 0 0 3px #04ff69;
}

.track-report {
    margin-top: 8rem;
    width: 80%;
    margin-left: calc(10%);
}

.track-reports-div {
    background-color: #141414;
}

.res-track-report-list-div {
    border-bottom: 1px solid #878787;
    position: relative;
    padding-bottom: 2rem;
}

.track-report-menu-list {
    margin-top: 3rem;
}

.track-report-menu-list ul {
    display: flex;
}

.track-report-menu-list-li {
    color: #878787;
    cursor: pointer;
    font-size: 16px;
    line-height: 2.8rem;
    letter-spacing: 1px;
}

.track-report-menu-list ul :first-child {
    margin-left: 12rem;
}

.track-report-menu-list ul :last-child {
    margin-left: 5rem;
}

.res-track-report-list-link {
    text-decoration: underline;
    color: #ffffff;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.res-track-report-list-date {
    position: absolute;
    right: 5rem;
    color: #ffffff;
    font-size: 12px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin-top: 2rem;
}



.listselected {
    color: #04ff69;
}





/*  */

.researcher-form {
    margin-top: 5rem;
    /* text-align: center; */
    width: 80%;
    margin-left: calc(20%);
}

.res-form {
    display: flex;
    flex-direction: column;
}

.res-form-label {
    color: #878787;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 2.8rem;
    margin-left: calc(30%);
}

.res-input {
    margin-top: 1rem;
    margin-left: calc(30%);
    color: #04ff69;
    font-size: 14px;
    background-color: #141414;
    width: 30rem;
    height: 30px;
    padding: 5px 0px 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #04ff69;
    border: none;
}







.accordion {
    font-size: 17px;

    margin: 5rem;
}

.accordion__button {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: inherit;
    border-radius: 10px;
    background-color: #141414;
    color: #fff;
}

.accordion__button span {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* background: #878787; */
    font-size: 15px;
}

.accordion__content {
    padding: 0 20px;
    opacity: 0;
    transition: all 0.7s;
    height: 0;
    margin: 0;
    margin-top: -10px;
    border: 0;
    border-top: 0;
    color: #878787;
}

.accordion__content.active {
    height: auto;
    opacity: 1;
    border-radius: 10px;
    border: 0;
    padding: 20px;
}

.plus {
    content: "+";
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.minus {
    content: "+";
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.res-bookmarked-list-link {
    color: #04ff69;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    position: absolute;
    right: calc(2%);
}

.bookmarked-ul li {
    list-style-type: number;
    margin-left: 2rem;
}