.title-wrapper {
    display: grid;
    align-items: center;
    justify-content: center;
    transform: skew(0, 0deg);
}

.sweet-title {
    order: 2;
    color: #141414;
    font-weight: 900;
    /* text-transform: uppercase; */
    font-size: clamp(3rem, 10vw, 6rem);
    line-height: 0.75em;
    text-align: center;
    text-shadow: 3px 1px 1px #6eff4a, 2px 2px 1px #16fb35, 4px 2px 1px #59ff4a,
        3px 3px 1px #57fb16, 5px 3px 1px #59ff4a, 4px 4px 1px #4bfb16,
        6px 4px 1px #74ff4a, 5px 5px 1px #1efb16, 7px 5px 1px #5fff4a,
        6px 6px 1px #31fb16, 8px 6px 1px #74ff4a, 7px 7px 1px #4bfb16,
        9px 7px 1px #6eff4a;
}

.sweet-title span {
    display: block;
    position: relative;
}

.sweet-title span::before {
    content: attr(data-text);
    position: absolute;
    text-shadow: 2px 2px 1px #4ae965, -1px -1px 1px #36f936,
        -2px 2px 1px #2ca80d, 1px -1px 1px #a5a1a5;
    z-index: 1;
}

.sweet-title span:nth-child(1) {
    padding-right: 2.25rem;
}

.sweet-title span:nth-child(2) {
    padding-left: 2.25rem;
}

.admin-dashboard {
    background-color: #0b0b0b;
    height: max-content;
    padding-bottom: 15rem;
}


/* Payment Clearance */



.admin-dashboard-h {
    color: #04ff69;
    font-size: 26px;
    line-height: 2.8rem;
    letter-spacing: 2px;
    font-family: 'Nunito';
    text-shadow: 0 0 15px #04ff69;
}

.admin-dashboard-form {
    margin-top: 5rem;
    position: relative;
    width: 60%;
    margin-left: calc(20%);
}

.admin-dashboard-form-div {
    margin-top: 5rem;
}

.admin-dashboad-form-label {
    color: #878787;
    font-size: 14px;
    line-height: 2.8rem;
    letter-spacing: 1px;
    margin-left: 12rem;

}

.admin-dashboard-form-input {
    position: absolute;
    left: 23rem;
    color: #04ff69;
    font-size: 14px;
    background-color: #141414;
    width: 35rem;
    height: 30px;
    padding: 8px 0px 8px 8px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 3px #04ff69;
}


.admin-dashboard-form-button {
    width: fit-content;
    margin-top: 15rem;
}


.admin-dashboard-form-input::-webkit-calendar-picker-indicator {
    filter: invert(1);
    padding-right: 1rem;
}